.coffeeDetail {
    margin: 1rem;
}

.mybtn {

    justify-content: center;
    align-items: center;
}

.mycard {
    width: 18rem;
    margin: 0 auto;
}

.icon {
    color: blue;
}

img {
    border-radius: 2rem;
}