<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6 text-center">
      <div *ngFor="let coffee of coffeeSlice">
        <div class="card card-coffee mb-2">
          <div class="card-body">
            <h2 class="card-title display-2">
              {{ coffee.blend_name }}
              <span class="badge bg-info">
                <mat-icon>coffee</mat-icon> Name</span
              >
            </h2>
            <p class="card-text">Notes: {{ coffee.notes }}</p>
            <p>Variety: {{ coffee.variety }}</p>
            <p>Intensifier: {{ coffee.intensifier }}</p>
            <span>
              <mat-icon>room</mat-icon>
              {{ coffee.origin }}
            </span>
          </div>
        </div>
      </div>

      <mat-paginator
        [length]="this.coffees.length"
        [pageSize]="10"
        aria-label="Select page"
        (page)="OnPageChange($event)"
      >
      </mat-paginator>
    </div>
    <div class="col-md-3"></div>
  </div>
</div>
